{{ define "main" }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
{{ range $paginator.Pages }}
{{ .Render "summary" }}
{{ end }}

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="blog-pagination">
  {{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <a class="btn btn-outline-primary" href="{{ .Paginator.Prev.URL }}" role="button">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary" href="{{ .Paginator.Next.URL }}" role="button">{{ i18n "paginatorNext" }}</a>
  {{ end }}
  {{ if and (.Paginator.HasPrev) (not .Paginator.HasNext) }}
  <a class="btn btn-outline-primary" href="{{ .Paginator.Prev.URL }}" role="button">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary disabled" href="#" role="button" aria-disabled="true">{{ i18n "paginatorNext" }}</a>
  {{ end }}
  {{ if and (not .Paginator.HasPrev) (.Paginator.HasNext) }}
  <a class="btn btn-outline-primary disabled" href="#" role="button" aria-disabled="true">{{ i18n "paginatorPrevious" }}</a>
  <a class="btn btn-outline-primary" href="{{ .Paginator.Next.URL }}" role="button">{{ i18n "paginatorNext" }}</a>
  {{ end }}
</nav>
{{ end }}

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
